{% for comment in comments %}
    <article class="comment {{ cycle(['odd', 'even'], loop.index0) }}" id="comment-{{ comment.id }}">
        <header>
            <p><span class="highlight">
                {% if comment.blogger is empty %}
                    {{ comment.user }}
                {% else %}
                    <a href="{{ path('BlogBundle_blogger_blogs', {'blogger_id':comment.blogger.id}) }}">{{comment.blogger.firstname}} {{comment.blogger.surname}}</a>
                {% endif %}
            </span> commented <time datetime="{{ comment.created|date('c') }}">{{ comment.created|date('l, F j, Y') }}</time></p>
        </header>
        <p>{{ comment.comment }}</p>
    </article>
{% else %}
    <p>There are no comments for this post. Be the first to comment...</p>
{% endfor %}