{% extends '::base.html.twig'%}

{% block body %}
    <div class="row">
        <form action="{{path('BlogBundle_blog_admin_dashOperations')}}" method="get">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <div class="row">
                    <h3 class="panel-title text-center">DASHBOARD BLOGGER</h3>
                    
                </div>
            </div>
            <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    <table class="table" id="table">
                        <thead>
                            <tr>
                                <th><input type="checkbox" id="main_checkbox_blogger" ></th>
                                <th>ID</th>
                                <th>SURNAME</th>
                                <th>FIRSTNAME</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for blogger in bloggers %}
                                <tr>   
                                    {% if blogger.role == "admin" %}
                                    <td><input disabled type="checkbox" class="admin_admin" name="blogger_id[]" value="{{blogger.id}}"></td>
                                    {% else %}
                                        <td><input type="checkbox" class="blogger_blogger" name="blogger_id[]" value="{{blogger.id}}"></td>
                                    {% endif %}
                                    <td>{{blogger.id}}</td>
                                    <td>{{blogger.surname}}</td>
                                    <td>{{blogger.firstname}}</td>
                                </tr>
                            {% else %}
                                <p>No Bloggers ...</p>
                            {% endfor %}

                        </tbody>
                    </table>
                    <hr>
                </div>
            </div>

            </div> 
            <div class="panel-footer clearfix">
                <div class="pull-right">
                    <input type="submit" id="edit_blogger" name="action" class="btn btn-primary hide" value="Edit"></input>
                    <input type="submit" id="remove_blogger" name="action" class="btn btn-danger hide" value="Remove"></input>
                </div>
            </div>
        </div>
    </form>
    </div>

    {# <div class="row">
        <form action="{{path('BlogBundle_blog_admin_dashOperations')}}" method="get">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="row">
                    <h3 class="panel-title text-center">DASHBOARD CATEGORY</h3>
                    
                </div>
            </div>
            <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    <table class="table" id="table">
                        <thead>
                            <tr>
                                <th><input type="checkbox" id="main_checkbox_category" ></th>
                                <th>ID</th>
                                <th>NAME</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for category in categories %}
                                <tr>   
                                    <td><input type="checkbox" class="category_category" name="category_id[]" value="{{category.id}}"></td>
                                    <td>{{category.id}}</td>
                                    <td>{{category.name}}</td>
                                </tr>
                            {% else %}
                                <p>No Blogs ...</p>
                            {% endfor %}

                        </tbody>
                    </table>
                    <hr>
                </div>
            </div>

            </div> 
            <div class="panel-footer clearfix">
                <div class="pull-right">
                    <input type="submit" id="edit_category" name="action" class="btn btn-primary hide" value="Edit"></input>
                    <input type="submit" id="remove_category" name="action" class="btn btn-danger hide" value="Remove"></input>
                </div>
            </div>
        </div>
    </form>
    </div> #}


    <div class="row">
        <form action="{{path('BlogBundle_blog_admin_dashOperations')}}" method="get">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <h3 class="panel-title text-center">DASHBOARD BLOG</h3>
                    
                </div>
            </div>
            <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    <table class="table" id="table">
                        <thead>
                            <tr>
                                <th><input type="checkbox" id="main_checkbox_blog" ></th>
                                <th>ID</th>
                                <th>BLOG TITTLE</th>
                                <th>CATEGORY</th>
                                <th>BLOGGER NAME</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for blog in blogs %}
                                <tr>   
                                    <td><input type="checkbox" class="blog_blog" name="blog_id[]" value="{{blog.id}}"></td>
                                    <td>{{blog.id}}</td>
                                    <td>{{blog.title}}</td>
                                    <td>{{blog.category.name}}</td>
                                    <td>{{blog.blogger.surname}} {{blog.blogger.firstname}}</td>
                                </tr>
                            {% else %}
                                <p>No Blogs ...</p>
                            {% endfor %}

                        </tbody>
                    </table>
                    <hr>
                </div>
            </div>

            </div> 
            <div class="panel-footer clearfix">
                <div class="pull-right">
                    <input type="submit" id="edit_blog" name="action" class="btn btn-primary hide" value="Edit"></input>
                    <input type="submit" id="remove_blog" name="action" class="btn btn-danger hide" value="Remove"></input>
                </div>
            </div>
        </div>
    </form>
    </div>

    <div class="row">
        <form action="{{path('BlogBundle_blog_admin_dashOperations')}}" method="get">
        <div class="panel panel-success">
            <div class="panel-heading">
                <div class="row">
                    <h3 class="panel-title text-center">DASHBOARD COMMENT</h3>
                    
                </div>
            </div>
            <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    <table class="table" id="table">
                        <thead>
                            <tr>
                                <th><input type="checkbox" id="main_checkbox_comment" ></th>
                                <th>COMMENT ID</th>
                                <th>COMMENT</th>
                                <th>BLOG ID</th>
                                <th>BLOG TITLE</th>
                                <th>BLOGER ID</th>
                                <th>BLOGER NAME</th>
                                <th>Anonymous name</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for comment in comments %}
                                <tr>   
                                    <td><input type="checkbox" class="comment_comment" name="comment_id[]" value="{{comment.id}}"></td>
                                    <td>{{comment.id}}</td>
                                    <td>{{comment.comment}}</td>
                                    <td>{{comment.blog.id}}</td>
                                    <td>{{comment.blog.title}}</td>
                                    <td>
                                        {% if not comment.blogger is empty %}
                                            {{comment.blogger.id}}
                                        {% else %}
                                            NULL
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if not comment.blogger is empty %}
                                            {{comment.blogger.firstname}} {{comment.blogger.surname}}
                                        {% else %}
                                            NULL
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if not comment.blogger is empty %}
                                            NULL
                                        {% else %}
                                            {{comment.user}}
                                        {% endif %}
                                    </td>
                                </tr>
                            {% else %}
                                <p>No Blogs ...</p>
                            {% endfor %}

                        </tbody>
                    </table>
                    <hr>
                </div>
            </div>

            </div> 
            <div class="panel-footer clearfix">
                <div class="pull-right">
                    {# <input type="submit" id="edit_comment" name="action" class="btn btn-primary hide" value="Edit"></input> #}
                    <input type="submit" id="remove_comment" name="action" class="btn btn-danger hide" value="Remove"></input>
                </div>
            </div>
        </div>
    </form>
    </div>

    
{% endblock %}