{% extends "BlogBundle::layout.html.twig" %}
{% block stylesheets %} {{ parent() }}
  <link href="{{ asset('css/blog_user.css') }}" type="text/css" rel="stylesheet" />
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
{% endblock %}
{% block body %}
  <div class="container">
    <div class="row well">
      <div class="col-md-2">
        {% include 'BlogBundle:Blogger:menu_blogger.html.twig' with {'blogger_id': blogger.id} %}
      </div>
      <div class="col-md-10">
        <div class="panel">
          <img class="pic img-circle" src="http://placehold.it/120x120" alt="...">
          <div class="name">
            <small> {{blogger.firstname}} {{blogger.surname}}
            </small>
          </div>
          <a href="#" class="btn btn-xs btn-primary pull-right" style="margin:10px;">
            <span class="glyphicon glyphicon-picture">
            </span> Change cover
          </a>
        </div>
        <br>
        <br>
        <br>
        {% block blogger_body %}
          {% include 'BlogBundle:Layout:menu_owner.html.twig' with {'id' : blogger.id} %}
          <div class="tab-content">
            <div class="tab-pane active" id="inbox">
              {% include 'BlogBundle:Layout:display_list_3.html.twig' with { 'blogs': blogs } %}
              <a type="button" data-toggle="collapse" data-target="#a1">
                <div class="btn-toolbar well well-sm" role="toolbar"  style="margin:0px;">
                  <div class="btn-group">
                    <input type="checkbox">
                  </div>
                  <div class="btn-group col-md-3"> Admin Kumar
                  </div>
                  <div class="btn-group col-md-8">
                    <b> Hi Check this new Bootstrap plugin
                    </b>
                    <div class="pull-right">
                      <i class="glyphicon glyphicon-time">
                      </i> 12:10 PM
                      <button class="btn btn-primary btn-xs" data-toggle="modal" data-target=".bs-example-modal-lg">
                      <i class="fa fa-share-square-o"> Reply
                      </i>
                      </button>
                    </div>
                  </div>
                </div>
              </a>
              <div id="a1" class="collapse out well"> This is the message body1
              </div>
              <br>
              <button class="btn btn-primary btn-xs">
              <i class="fa fa-check-square-o">
              </i> Delete Checked Item's
              </button>
            </div>
            <br/>
            <br/>
            <div class="tab-pane" id="sent">
              {% include 'BlogBundle:Layout:display_list_1_big.html.twig' with { 'blogs': blogs } %}
              <a type="button" data-toggle="collapse" data-target="#s1">
                <div class="btn-toolbar well well-sm" role="toolbar"  style="margin:0px;">
                  <div class="btn-group">
                    <input type="checkbox">
                  </div>
                  <div class="btn-group col-md-3">Kumar
                  </div>
                  <div class="btn-group col-md-8">
                    <b>This is reply from Bootstrap plugin
                    </b>
                    <div class="pull-right">
                      <i class="glyphicon glyphicon-time">
                      </i> 12:30 AM
                    </div>
                  </div>
                </div>
              </a>
              <div id="s1" class="collapse out well">This is the message body1
              </div>
              <br>
              <button class="btn btn-primary btn-xs">
              <i class="fa fa-check-square-o">
              </i> Delete Checked Item's
              </button>
            </div>
            <div class="tab-pane" id="event">
              {% include 'BlogBundle:Layout:display_list_1_small.html.twig' with { 'blogs': blogs } %}
            </div>

            <div class="tab-pane" id="rectangle">
              {% include 'BlogBundle:Layout:display_list_2.html.twig' with { 'blogs': blogs } %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <br/>
          <br/>
          <form class="form-horizontal">
            <fieldset>
              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-2 control-label" for="body">Body :
                </label>
                <div class="col-md-8">
                  <input id="body" name="body" type="text" placeholder="Message Body" class="form-control input-md">
                </div>
              </div>
              <!-- Textarea -->
              <div class="form-group">
                <label class="col-md-2 control-label" for="message">Message :
                </label>
                <div class="col-md-8">
                  <textarea class="form-control" id="message" name="message">
                  </textarea>
                </div>
              </div>
              <!-- Button -->
              <div class="form-group">
                <label class="col-md-2 control-label" for="send">
                </label>
                <div class="col-md-8">
                  <button id="send" name="send" class="btn btn-primary">Send
                  </button>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  {% endblock %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
  </script>
  <script src="{{ asset("js/blog_user.js")}}">
  </script>
{% endblock %}