<div class="row">
  {% for blog in blogs %}
    <div class="media">
      <a class="pull-left" href="#">
        
        {% if not blog.picture is empty %}
            {% if not blog.picture.path is empty %}
          <img src="{{ asset(blog.picture.AssetPath) }}" width="100" alt="{{blog.picture.name}}}" class="img-responsive ">
            {% endif %}
          {% endif %}
      </a>
      <div class="media-body">
        <h4 class="media-heading"><a href="{{ path("BlogBundle_blog_show", {"id": blog.id})}}"> {{blog.title(40)}}...
          </a>
        </h4> 
        <p>
            <a href="{{ path('BlogBundle_blogger_blogs', {'blogger_id' : blog.blogger.id})}} "><span class="glyphicon glyphicon-user"/> {{blog.blogger.firstname}} {{blog.blogger.surname}}</a></p>
        <p>{{blog.content(100)}}...</p>
      </div>
      <br>
      <p>
        <span class="glyphicon glyphicon-fire">   </span> {{blog.popularity}} <span class="glyphicon glyphicon-comment">   </span> {{ blog.comments|length }}
        <span class="glyphicon glyphicon-time pull-right"> {{blog.created|date('l, F j, Y H:i:s')}}</span>
      </p>
    </div>
    {% if loop.last %}
    {% else %}
        <hr class="style-seven petit"/>
    {% endif %}
  {% else %} No blogs
  {% endfor %}
</div>