<div class="row">
  {% for blog in blogs %}
    <div class="row">
      <div class="col-sm-4 ">
        <a href="#" class="">
          <img src="http://placehold.it/2560X1280" class="img img-responsive thumbnail">
        </a>
      </div>
      <div class="col-sm-8">
        <h3 class="title"><a href="{{ path("BlogBundle_blog_show", {"id": blog.id})}}"> {{blog.title}}...
          </a>
        </h3>
        <p class="text-muted">
          
          <a href="{{ path('BlogBundle_blogger_blogs', {'blogger_id' : blog.blogger.id})}} "> <span class="glyphicon glyphicon-user"> {{blog.blogger.firstname}} {{blog.blogger.surname}}
          </a> </span> <span class="glyphicon glyphicon-fire">   </span> {{blog.popularity}} <span class="glyphicon glyphicon-comment">   </span> {% render(controller("BlogBundle:Blog:show", {'id':blog.id, 'case':true}))%} 
          <span class="glyphicon glyphicon-time pull-right"> {{blog.created|date('Y-m-d H:i:s')}}</span>
          
        </p>
        <br>
        <p>{{ blog.content }}
        </p>
      </div>
    </div>
    {% if loop.last %}
    {% else %}
      <hr class="style-seven"/>
    {% endif %}
  {% else %}
    No Blogs
  {% endfor %}
</div>