<div class="row">
  {% for blog in blogs %}
    <div class="media">
      <a class="pull-left" href="#">
        <img class="media-object img-thumbnail" width="100" src="http://placehold.it/120x120" alt="...">
      </a>
      <div class="media-body">
        <h4 class="media-heading"><a href="{{ path("BlogBundle_blog_show", {"id": blog.id})}}"> {{blog.title(40)}}...
          </a>
        </h4> 
        <p>
            <a href="{{ path('BlogBundle_blogger_blogs', {'blogger_id' : blog.blogger.id})}} "><span class="glyphicon glyphicon-user"/> {{blog.blogger.firstname}} {{blog.blogger.surname}}</a></p>
        <p>{{blog.content(100)}}...</p>
      </div>
      <br>
      <p>
        <span class="glyphicon glyphicon-fire">   </span> {{blog.popularity}} <span class="glyphicon glyphicon-comment">   </span> {% render(controller("BlogBundle:Blog:show", {'id':blog.id, 'case':true}))%} 
        <span class="glyphicon glyphicon-time pull-right"> {{blog.created|date('Y-m-d H:i:s')}}</span>
      </p>
    </div>
    {% if loop.last %}
    {% else %}
        <hr class="style-seven petit"/>
    {% endif %}
  {% else %} No blogs
  {% endfor %}
</div>