{% trans_default_domain 'FOSUserBundle' %}
{% extends "FOSUserBundle:Security:login.html.twig" %}

{% block erreur %}
{% endblock %}

{% block login_block %}
<div class="tab-pane active" id="register">

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'form-signin'}}) }}
    {# {{ form_widget(form) }} #}
    {{ form_row(form.username, {'label':' ','attr':{'class': 'form-control','type':'texte','placeholder':'User Name'}}) }}
    {{ form_row(form.email, {'label':' ','attr':{'class': 'form-control','type':'email','placeholder':'Email Adress ...'}}) }}
    {{ form_row(form.plainPassword.first, {'label':' ','attr':{'class': 'form-control','type':'email','placeholder':'Password'}}) }}
    {{ form_row(form.plainPassword.second, {'label':' ','attr':{'class': 'form-control','type':'email','placeholder':'Repeat Password'}}) }}
    <br/>
    <div>
        <input type="submit" class="btn btn-lg btn-default btn-block" value="{{ 'registration.submit'|trans }}" />
    </div>
{{ form_end(form) }}

<div id="tabs" data-tabs="tabs">
<p class="text-center"><a href="{{path('fos_user_security_login')}}" data-toggle="tab">Have an Account?</a></p>
</div>
</div>

{% endblock %}